{% extends 'basic.html' %}

{% block content %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <div class="container mt-2">
        <h4 class="bg-success p-3 text-center"> <marquee behavior="" direction=""> BCS Course Semisters </marquee> </h4>
    </div>

    <!-- Main content -->
    <div class="container-fluid">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <!-- /.col -->
            
        </div>
        <!-- ./wrapper -->

        <!-- Main content -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead class="bg-dark">
                        <tr>
                            <th>SEMISTERS</th>
                            <th style="width: 650px;">Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in semister %}

                        <tr>
                            <td><b> {{ i.semister_name }} </b></td>
                            <td><a href="{% url 'semister_students' i.id %}"><button class="btn btn-danger btn-sm">Enter Attendance</button></a>
                            <a href="{% url 'semister_students' i.id %}"><button class="btn btn-warning btn-sm">Extra Class</button></a>
                            <a href="{% url 'semister_students' i.id %}"><button class="btn btn-success btn-sm">View Student</button></a></td>
                        </tr>

                        {% endfor %}
                        {{all_student}}

                    </tbody>
                </table>
            </div>
        </div><br><br><br>
        <!-- table Ended -->

        {% endblock %}