{% extends 'college_website/links.html' %}

{% load static %}

{% block content %}


<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper">
		<!--************************************
						Header Start
				*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<div class="tg-topbar">
				<div class="tg-leftbox">
					<span id="tg-datebox" class="tg-datebox"></span>
				</div>
				<div class="tg-rightbox">
					<span class="tg-tollfree">Contact: 0342-9752557</span>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-logoandnoticeboard">
							<strong class="tg-logo"><a href="index-2.html"><img
										src="{% static 'website_style/logo/logo/logo.jpg' %}"
										alt="University of Education and knowledge"></a></strong>
							<div class="tg-noticeboard hidden-xs">
								<div class="tg-textbox">
									<span>Admission Open!</span>
									<span>Last Date For Spring Admission 27-Sept-2017</span>
								</div>
								<figure><img src="{% static 'website_style/images/img-01.jpg' %}" alt="image description">
								</figure>
							</div>
						</div>
						<div class="tg-navigationarea">
							<nav id="tg-nav" class="tg-nav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
										data-target="#tg-navigation" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
									<ul>
										<li>
											<a href="{% url 'front_home' %}">Home</a>
										</li>
										<li>
											<a href="{% url 'news_page' %}"> News Updates </a>
										</li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Download</a>
											<ul class="sub-menu">
												<li><a href="{% url 'show_result' %}">Result</a></li>
												<li><a href="{% url 'show_assignment' %}">Assignment</a></li>
												<li><a href="{% url 'show_timetable' %}">Time Table</a></li>
												<li><a href="{% url 'show_syllabus' %}">Syllabus</a></li>
											</ul>
										</li>
										<li><a href="{% url 'admission' %}">Admissions</a></li>
										<li class="current-menu-item"> <a href="{% url 'departments' %}">Departments</a>
										<li>
										<li> <a href="{% url 'gallery' %}">Gallery</a></li>
										</li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">About College</a>
											<ul class="sub-menu">
												<li><a href="{% url 'about_objective' %}">Our Objective</a></li>
												<li><a href="{% url 'about_identity' %}">Our Identity</a></li>
												<li><a href="{% url 'about_mission' %}">Our Mission</a></li>
											</ul>
										</li>
										<li> <a href="{% url 'contact_us' %}"> Contact Us </a></li>
										<li><a href="{% url 'login_page' %}"> Admin Login </a></li>
									</ul>
								</div>
							</nav>
							<div class="tg-searchbox">
								<a id="tg-btnsearch" class="tg-btnsearch" href="javascript:void(0);"><i
										class="icon-magnifier"></i></a>
								<form class="tg-formtheme tg-formsearch">
									<fieldset><input type="search" name="search" class="form-control"
											placeholder="Start Your Search Here"></fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
						Header End
				*************************************-->
		<!--************************************
				Inner Banner Start
		*************************************-->
		<div class="tg-innerbanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ol class="tg-breadcrumb">
							<li><a href="javascript:void(0);">home</a></li>
							<li><a href="javascript:void(0);">Department detail</a></li>
							<li class="tg-active">Department detail</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns">
						<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 pull-right">
							<div id="tg-content" class="tg-content">
								<div class="tg-addmission tg-addmissiondetail">
									<span class="tg-lastmodified">Session 2016 To 2020</span>
									<div class="tg-pagetitle">
										<h2>Department Becholar Of Computer Science</h2>
									</div>
									<div class="tg-container">
										<h3>Vision Statement</h3><hr>
										<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore msagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullaasmco laboris nisi uiat aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit etssse cillum dolore eu fugiat nulla pariatur sintasr occaecat cupidatat proident, sunt in culpa qui officia deserunt mollit anim laborum.</p>
									</div>
									<div class="tg-container">
										<h3>Teaching Faculty</h3><hr>
										<div class="tg-facultyarea tg-faculties">
											<div class="row">
												<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
													<div class="tg-faculty">
														<figure><a href="javascript:void(0);"><img src="{% static 'website_style/images/speakers/img-01.jpg' %}" alt="image description"></a></figure>
														<div class="tg-facultyname">
															<h3><a href="javascript:void(0);">Maragaret Ellinger</a></h3>
														</div>
														<span class="tg-facultydesignation">Professor</span>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
													<div class="tg-faculty">
														<figure><a href="javascript:void(0);"><img src="{% static 'website_style/images/speakers/img-02.jpg' %}" alt="image description"></a></figure>
														<div class="tg-facultyname">
															<h3><a href="javascript:void(0);">Alphonse Travis</a></h3>
														</div>
														<span class="tg-facultydesignation">Assistant Professor</span>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
													<div class="tg-faculty">
														<figure><a href="javascript:void(0);"><img src="{% static 'website_style/images/speakers/img-03.jpg' %}" alt="image description"></a></figure>
														<div class="tg-facultyname">
															<h3><a href="javascript:void(0);">Bernardina Verde</a></h3>
														</div>
														<span class="tg-facultydesignation">Lecturer</span>
													</div>
												</div>
												<div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
													<div class="tg-faculty">
														<figure><a href="javascript:void(0);"><img src="{% static 'website_style/images/speakers/img-04.jpg' %}" alt="image description"></a></figure>
														<div class="tg-facultyname">
															<h3><a href="javascript:void(0);">Deandre Magallan</a></h3>
														</div>
														<span class="tg-facultydesignation">Professor</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="tg-otherprogramsoffered">
										<h2>Total Semisters</h2>
										<div id="tg-programsofferedcollapse" class="tg-themecollapse tg-departmentscollapse">
											<h5> <span class="fa fa-angle-right"></span> 1st Semister <a href="" class="btn btn-primary btn-xs"> <span class="fa fa-download"></span> Download Syllabus </a> </h5>
											<h5> <span class="fa fa-angle-right"></span> 2nd Semister <a href="" class="btn btn-primary btn-xs"> <span class="fa fa-download"></span> Download Syllabus </a> </h5>
											<h5> <span class="fa fa-angle-right"></span> 3rd Semister <a href="" class="btn btn-primary btn-xs"> <span class="fa fa-download"></span> Download Syllabus </a> </h5>
											<h5> <span class="fa fa-angle-right"></span> 4th Semister <a href="" class="btn btn-primary btn-xs"> <span class="fa fa-download"></span> Download Syllabus </a> </h5>
											<h5> <span class="fa fa-angle-right"></span> 5th Semister <a href="" class="btn btn-primary btn-xs"> <span class="fa fa-download"></span> Download Syllabus </a> </h5>
											<h5> <span class="fa fa-angle-right"></span> 6th Semister <a href="" class="btn btn-primary btn-xs"> <span class="fa fa-download"></span> Download Syllabus </a> </h5>
											<h5> <span class="fa fa-angle-right"></span> 7th Semister <a href="" class="btn btn-primary btn-xs"> <span class="fa fa-download"></span> Download Syllabus </a> </h5>
											<h5> <span class="fa fa-angle-right"></span> 8th Semister <a href="" class="btn btn-primary btn-xs"> <span class="fa fa-download"></span> Download Syllabus </a> </h5>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-left">
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widget tg-widgetcampuses">
									<div class="tg-widgettitle">
										<h3>Address</h3>
									</div>
									<div class="tg-widgetcontent">
										<div class="tg-campuses">
											<div class="tg-campus">
												<ul>
													<li>
														<i class="icon-location"></i>
														<address>Abc, xyz street London, HG521A</address>
													</li>
													<li>
														<i class="icon-phone-handset"></i>
														<span>0800 - 1234 - 562 - 6</span>
													</li>
													<li>
														<i class="icon-printer"></i>
														<span>+4 1234 567 - 9</span>
													</li>
													<li>
														<a href="mailto:query@domain.com">
															<i class="icon-envelope"></i>
															<span>query@domain.com</span>
														</a>
													</li>
													<li>
														<a href="mailto:complaint@domain.com">
															<i class="icon-construction"></i>
															<span>complaint@domain.com</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		{% endblock %}
</body>


</html>