{% extends 'college_website/links.html' %}

{% load static %}

{% block content %}

<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper">
		<!--************************************
				Header Start
		*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<div class="tg-topbar">
				<div class="tg-leftbox">
					<span id="tg-datebox" class="tg-datebox"></span>
					<span class="tg-rtltextbox"><em>RTL</em> <a href="#">Mobile Theme</a> Buy Theme</span>
				</div>
				<div class="tg-rightbox">
					<span class="tg-tollfree">Toll Free: 0800-123-456</span>
					<div class="tg-themedropdown tg-languagesdropdown">
						<a href="javascript:void(0);" id="tg-languages" class="tg-btndropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<span><img src="images/flags/img-01.jpg" alt="image description"></span>
							<span>Eng</span>
						</a>
						<div class="tg-themedropdownbox" aria-labelledby="tg-languages">
							<ul class="tg-languageslist">
								<li>
									<span><img src="images/flags/img-02.jpg" alt="image description"></span>
									<span>Eng</span>
								</li>
								<li>
									<span><img src="images/flags/img-03.jpg" alt="image description"></span>
									<span>Eng</span>
								</li>
								<li>
									<span><img src="images/flags/img-04.jpg" alt="image description"></span>
									<span>Eng</span>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-logoandnoticeboard">
							<strong class="tg-logo"><a href="index-2.html"><img src="images/logo.png" alt="University of Education and knowledge"></a></strong>
							<div class="tg-noticeboard hidden-xs">
								<div class="tg-textbox">
									<span>Admission Open!</span>
									<span>Last Date For Spring Admission 27-Sept-2017</span>
								</div>
								<figure><img src="images/img-01.jpg" alt="image description"></figure>
							</div>
						</div>
						<div class="tg-navigationarea">
							<nav id="tg-nav" class="tg-nav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
									<ul>
										<li class="current-menu-item">
											<a href="index-2.html">Home</a>
										</li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">About University</a>
											<ul class="sub-menu">
												<li><a href="aboutcampuslife.html">College Life</a></li>
												<li><a href="aboutleadership.html">Our Leadership</a></li>
												<li><a href="aboutobjectives.html">Our Objective</a></li>
												<li><a href="aboutouridentity.html">Our Identity</a></li>
												<li><a href="aboutrectormessage.html">Rector Message</a></li>
												<li><a href="aboutvisionmission.html">Our Mission</a></li>
											</ul>
										</li>
										<li>
											<a href="newsgrid.html">College News</a>
										</li>
										<li><a data-new="new" href="results.html">Results</a></li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Admissions</a>
											<ul class="sub-menu">
												<li><a href="admissions.html">Admissions</a></li>
												<li><a href="admissionsdetail.html">Admission Detail</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Depts</a>
											<ul class="sub-menu">
												<li><a href="departments.html">Departments</a></li>
												<li><a href="departmentdetail.html">Department Detail</a></li>
											</ul>
										</li>
										<li><a href="campuses.html">Campuses</a></li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Contact us</a>
											<ul class="sub-menu">
												<li><a href="contactusvone.html">Contact us V-one</a></li>
												<li><a href="contactusvtwo.html">Contact us V-two</a></li>
											</ul>
										</li>
										<li>
											<a href="gallery.html">Gallery</a>
										</li>
									</ul>
								</div>
							</nav>
							<div class="tg-searchbox">
								<a id="tg-btnsearch" class="tg-btnsearch" href="javascript:void(0);"><i class="icon-magnifier"></i></a>
								<form class="tg-formtheme tg-formsearch">
									<fieldset><input type="search" name="search" class="form-control" placeholder="Start Your Search Here"></fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		
		<!--************************************
				Inner Banner Start
		*************************************-->
		<div class="tg-innerbanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ol class="tg-breadcrumb">
							<li><a href="javascript:void(0);">home</a></li>
							<li><a href="javascript:void(0);">news</a></li>
							<li class="tg-active">Detail</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns">
						<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 pull-right">
							<div id="tg-content" class="tg-content">
								<div class="tg-detailpage tg-newsdetailpage">
									<article class="tg-themepost tg-newspost">
										<div class="tg-themepostcontent">
											<ul class="tg-themeposttags">
												<li><a href="javascript:void(0);">{{ select_event.date_created }}</a></li>
												<li><a href="javascript:void(0);"></a></li>
											</ul>
											<div class="tg-themeposttitle">
												<h1>{{ select_event.event_title }}</h1>
											</div>
										</div>
										<figure class="tg-featuredimg"><img src="{{ select_event.Choose_img.url }}" alt="image description"></figure>
										<div class="tg-description">
											{{ select_event.event_description }}
										</div>
									</article>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-left">
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widget tg-widgetsearchcourse">
									<div class="tg-widgettitle">
										<h3>Search</h3>
									</div>
									<div class="tg-widgetcontent">
										<form class="tg-formtheme tg-formsearchcourse">
											<fieldset>
												<div class="tg-inputwithicon">
													<i class="icon-book"></i>
													<input type="search" name="keyword" class="form-control" placeholder="Keyword">
												</div>
												<button type="submit" class="tg-btn">search now</button>
											</fieldset>
										</form>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		{% endblock %}
</body>
