{% load static %}

{% footer block %}

<!--************************************
				Footer Start
		*************************************-->
		<footer id="tg-footer" class="tg-footer tg-haslayout">
			<div class="tg-signupbox">
				<div class="container">
					<div class="tg-signuptextbox">
						<h3>Signup to Get the Latest News</h3>
						<div class="tg-description"><p>Enter your email and get the latest news about the college </p></div>
					</div>
					<form class="tg-formtheme tg-formsignupfree">
						<fieldset>
							<div class="form-group"><input type="text" name="emailid" class="form-control" placeholder="Enter Email ID"></div>
							<div class="form-group"><button type="submit" class="tg-btn">Signup Now</button></div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="tg-footermiddlebar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
							<div class="tg-widget tg-widgetcompanyinfo">
								<div class="tg-widgetcontent">
									<div class="tg-widgettitle">
									<h3> Contact-Us </h3>
								</div>
									<ul class="tg-infolist">
										<li>
											<i class="icon-location"></i>
											<address>Abc, xyz street London, HG521A</address>
										</li>
										<li>
											<i class="icon-phone-handset"></i>
											<span>0800 - 1234 - 562 - 6</span>
										</li>
										<li>
											<i class="icon-printer"></i>
											<span>+4 1234 567 - 9</span>
										</li>
										<li>
											<a href="mailto:query@domain.com">
												<i class="icon-envelope"></i>
												<span>query@domain.com</span>
											</a>
										</li>
									</ul>
									<ul class="tg-socialicons">
										<li class="tg-facebook"><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
										<li class="tg-twitter"><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
										<li class="tg-linkedin"><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
										<li class="tg-googleplus"><a href="javascript:void(0);"><i class="fa fa-google-plus"></i></a></li>
										<li class="tg-rss"><a href="javascript:void(0);"><i class="fa fa-rss"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="tg-widget tg-widgetcoursecategories">
								<div class="tg-widgettitle">
									<h3> Menus </h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li> <a href=""> <b> Home Page </b> </a> </li>
										<li> <a href=""> <b> About College </b> </a> </li>
										<li> <a href=""> <b> News </b> </a> </li>
										<li> <a href=""> <b> Results </b> </a> </li>
										<li> <a href=""> <b> Admissions </b> </a> </li>
										<li> <a href=""> <b> Department </b> </a> </li>
										<li> <a href=""> <b> Contact-Us </b> </a> </li>
										<li> <a href=""> <b> Gallery </b> </a> </li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
							<div class="tg-widget tg-widgetcoursecategories">
								<div class="tg-widgettitle">
									<h3>Course Categories</h3>
								</div>
								<div class="tg-widgetcontent">
									<ul>
										<li><a href=""> <b> Computer Science </b> </a></li>
										<li> <a href=""> <b> Political Science </b> </a> </li>
										<li> <a href=""> <b> FA/FSC </b> </a> </li>
										<li> <a href=""> <b> BA/BSC </b> </a> </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tg-footerbar">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<span class="tg-copyright"><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></span>
							<nav class="tg-addnav">
								<ul>
									<li><a href="javascript:void(0);">Privacy Policy</a></li>
									<li><a href="javascript:void(0);">Term and Conditions</a></li>
									<li><a href="javascript:void(0);">Contact</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--************************************
				Footer End
        *************************************-->
        

        {% endblock %}