{% extends 'college_website/links.html' %}

{% load static %}

{% block content %}

<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<!--************************************
			Wrapper Start
	*************************************-->
	<div id="tg-wrapper" class="tg-wrapper">
		<!--************************************
						Header Start
				*************************************-->
		<header id="tg-header" class="tg-header tg-haslayout">
			<div class="tg-topbar">
				<div class="tg-leftbox">
					<span id="tg-datebox" class="tg-datebox"></span>
				</div>
				<div class="tg-rightbox">
					<span class="tg-tollfree">Contact: 0342-9752557</span>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="tg-logoandnoticeboard">
							<strong class="tg-logo"><a href="index-2.html"><img
										src="{% static 'website_style/logo/logo/logo.jpg' %}"
										alt="University of Education and knowledge"></a></strong>
							<div class="tg-noticeboard hidden-xs">
								<div class="tg-textbox">
									<span>Admission Open!</span>
									<span>Last Date For Spring Admission 27-Sept-2017</span>
								</div>
								<figure><img src="{% static 'website_style/images/img-01.jpg' %}" alt="image description">
								</figure>
							</div>
						</div>
						<div class="tg-navigationarea">
							<nav id="tg-nav" class="tg-nav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
										data-target="#tg-navigation" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
									<ul>
										<li>
											<a href="{% url 'front_home' %}">Home</a>
										</li>
										<li class="current-menu-item">
											<a href="{% url 'news_page' %}"> News Updates </a>
										</li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">Download</a>
											<ul class="sub-menu">
												<li><a href="{% url 'show_result' %}">Result</a></li>
												<li><a href="{% url 'show_assignment' %}">Assignment</a></li>
												<li><a href="{% url 'show_timetable' %}">Time Table</a></li>
												<li><a href="{% url 'show_syllabus' %}">Syllabus</a></li>
											</ul>
										</li>
										<li><a href="{% url 'admission' %}">Admissions</a></li>
										<li> <a href="{% url 'departments' %}">Departments</a>
										<li>
										<li> <a href="{% url 'gallery' %}">Gallery</a></li>
										</li>
										<li class="menu-item-has-children">
											<a href="javascript:void(0);">About College</a>
											<ul class="sub-menu">
												<li><a href="{% url 'about_objective' %}">Our Objective</a></li>
												<li><a href="{% url 'about_identity' %}">Our Identity</a></li>
												<li><a href="{% url 'about_mission' %}">Our Mission</a></li>
											</ul>
										</li>
										<li> <a href="{% url 'contact_us' %}"> Contact Us </a></li>
										<li><a href="{% url 'login_page' %}"> Admin Login </a></li>
									</ul>
								</div>
							</nav>
							<div class="tg-searchbox">
								<a id="tg-btnsearch" class="tg-btnsearch" href="javascript:void(0);"><i
										class="icon-magnifier"></i></a>
								<form class="tg-formtheme tg-formsearch">
									<fieldset><input type="search" name="search" class="form-control"
											placeholder="Start Your Search Here"></fieldset>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
						Header End
				*************************************-->
		
		<!--************************************
				Inner Banner Start
		*************************************-->
		<div class="tg-innerbanner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<ol class="tg-breadcrumb">
							<li><a href="javascript:void(0);">home</a></li>
							<li><a href="javascript:void(0);">news</a></li>
							<li class="tg-active">Detail</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Inner Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<div class="container">
				<div class="row">
					<div id="tg-twocolumns" class="tg-twocolumns">
						<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 pull-right">
							<div id="tg-content" class="tg-content">
								<div class="tg-detailpage tg-newsdetailpage">
									<article class="tg-themepost tg-newspost">
										<div class="tg-themepostcontent">
											<ul class="tg-themeposttags">
												<li><a href="javascript:void(0);">{{ select_news.date_created }}</a></li>
												<li><a href="javascript:void(0);"></a></li>
											</ul>
											<div class="tg-themeposttitle">
												<h1>{{ select_news.event_title }}</h1>
											</div>
										</div>
										<figure class="tg-featuredimg"><img src="{{ select_news.Choose_img.url }}" alt="image description"></figure>
										<div class="tg-description">
											{{ select_news.event_description }}
										</div>
									</article>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 pull-left">
							<aside id="tg-sidebar" class="tg-sidebar">
								<div class="tg-widget tg-widgetsearchcourse">
									<div class="tg-widgettitle">
										<h3>Search</h3>
									</div>
									<div class="tg-widgetcontent">
										<form class="tg-formtheme tg-formsearchcourse">
											<fieldset>
												<div class="tg-inputwithicon">
													<i class="icon-book"></i>
													<input type="search" name="keyword" class="form-control" placeholder="Keyword">
												</div>
												<button type="submit" class="tg-btn">search now</button>
											</fieldset>
										</form>
									</div>
								</div>
							</aside>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!--************************************
				Main End
		*************************************-->
		{% endblock %}
</body>
